# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Python package & build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables & secrets
.env
.env.local
.env.*.local
*.env

# Dependencies & JavaScript frontends
node_modules/
dist/
dist-ssr/

# Odoo system and local configuration files
*.log
*.conf
/filestore/
/sessions/

# IDE, Editor, and OS files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
